@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0;

  font-weight: normal;
} */

a,
.green {
  text-decoration: none;
  color: rgb(35, 156, 162);
  transition: 0.4s;
}

.hero__background{
  background: #1E2530;
}

.text__gradient{
  background: linear-gradient(91.81deg, #436BB2 5.55%, #38BFE5 32.34%, #A490C3 64.42%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.text__span-color{
  color: #A490C3;
}

.section__Title{
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;

  color: #436BB2;
}

.section__SubTitle{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #1E2530;
}

.service__Card{
  background: rgba(195, 209, 230, 0.2);
  border-radius: 10px;
}

.sevice__Button{
  background: #C7D4F4;
  border-radius: 4px;
  color: #436BB2;
  font-style: normal;
  font-weight: 500;
}

.sevice__Button:hover{
  background: #436BB2;
  border-radius: 4px;
  color: #C7D4F4;
  font-style: normal;
  font-weight: 500;
}

.service__Description{
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;

  color: rgba(30, 37, 48, 0.7);
}

.service__Title{
  margin-top: 1rem;
  font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;

color: #393939;
}

.service__Background{
  background: #fdfdff;
}

.product__Description{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
/* or 130% */


  color: #474747;
}

.product__text-gradient{
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  /* identical to box height */

  text-transform: uppercase;

  background: linear-gradient(91.55deg, #436BB2 3.63%, #A490C3 48.31%, #38BFE5 97.65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.product__Title{
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  /* identical to box height */

  color: #363636;
}

.product__Points{
  color: #585858;
}

.product__Badge-Logico {
  padding: 7px 40px;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #436BB2;
  background: rgba(67, 107, 178, 0.2);
  border-radius: 4px;
}

.product__Button-Logico:hover{
  background: #eef3ff;
  border-radius: 4px;
  color: #436BB2;
  font-style: normal;
  font-weight: 500;
}

.product__Button-Logico{
  background: #436BB2;
  border-radius: 4px;
  color: #eef3ff;
  font-style: normal;
  font-weight: 500;
}

.product__Badge-Jdoc {
  padding: 7px 40px;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #806E9D;
  background: rgba(128, 110, 157, 0.2);
  border-radius: 4px;
}

.product__Button-Jdoc:hover{
  background: #EAEEF8;
  border-radius: 4px;
  color: #806E9D;
  font-style: normal;
  font-weight: 500;
}

.product__Button-Jdoc{
  background: #806E9D;
  border-radius: 4px;
  color: #EAEEF8;
  font-style: normal;
  font-weight: 500;
}

.product__Button-OmegaPointage:hover{
  background: #C7D4F4;
  border-radius: 4px;
  color: #436BB2;
  font-style: normal;
  font-weight: 500;
}

.product__Button-OmegaPointage:hover{
  background: #eef3ff;
  border-radius: 4px;
  color: #436BB2;
  font-style: normal;
  font-weight: 500;
}

.product__Button-OmegaPointage{
  background: #436BB2;
  border-radius: 4px;
  color: #eef3ff;
  font-style: normal;
  font-weight: 500;
}

.product__Badge-OmegaPointage {
  padding: 7px 40px;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #436BB2;
  background: rgba(67, 107, 178, 0.2);
  border-radius: 4px;
}

.partenaires__Background{
  background: #1E2530;
}

.partenaires__Description{
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #eef3ff;
}

.partenaires__Button-Google{
  background: #C7D3ED;
  border-radius: 4px;
  color: #4285F4;
  font-style: normal;
  font-weight: 500;
}

.partenaires__Button-Google:hover{
  background: #4285F4;
  border-radius: 4px;
  color: #C7D3ED;
  font-style: normal;
  font-weight: 500;
}

.partenaires__Button-Sage{
  background: #B3DDD5;
  border-radius: 4px;
  color: #2A2A2A;
  font-style: normal;
  font-weight: 500;
}

.partenaires__Button-Sage:hover{
  background: #55DE55;
  border-radius: 4px;
  color: #2A2A2A;;
  font-style: normal;
  font-weight: 500;
}

.partenaires__Button-Office{
  background: #EEC0B2;;
  border-radius: 4px;
  color: #2A2A2A;
  font-style: normal;
  font-weight: 500;
}

.partenaires__Button-Office:hover{
  background: #E64A19;
  border-radius: 4px;
  color: #EAEEF8;
  font-style: normal;
  font-weight: 500;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(283, 96%, 27%, 0.2);
  }
}

@media (min-width: 1024px) {


  #app {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
} */
